# ============================
# Base Folder
# ============================
.htaccess
.gitignore
BingSiteAuth.xml

# ============================
# Coming Soon
# ============================
coming-soon/css/vendor/
coming-soon/fonts/
coming-soon/img/
coming-soon/js/modernizr-custom.js
