@import "../base/colours";
@import "../utils/mixins";

/*--------------------------------------------------------------
  Index
--------------------------------------------------------------*/
.content {
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.bg__img {
  float: left;
  height: 100%;
  width: auto;
}
.info {
  > div {
    width: 100%;
  }
}
.logo {
  max-width: 400px;
  width: 100%;
}
.relaunch, .store {
  margin: 0 auto 4rem;
}
.social {
  a {
    text-decoration: none;
  }
  .stitched {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin: .5rem;
    width: 30px;
  }
}

/* ------------- Cogs --------------- */
.cogs {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: -1;

  svg {
    float: left;
  }
  svg:nth-child(2) {
    margin-left: 24%;
    margin-top: -26%;
  }
  svg:nth-child(3) {
    margin-top: -26%;
  }
  svg:nth-child(4) {
    margin-left: 24%;
    margin-top: -26%;
  }
  svg:nth-child(5) {
    margin-top: -26%;
  }
  svg:nth-child(6) {
    margin-left: 24%;
    margin-top: -26%;
  }
  svg:nth-child(7) {
    margin-top: -26%;
  }
  svg:nth-child(8) {
    margin-left: 24%;
    margin-top: -26%;
  }
  svg:nth-child(9) {
    margin-top: -26%;
  }
  svg:nth-child(10) {
    margin-left: 24%;
    margin-top: -26%;
  }
  svg:nth-child(11) {
    margin-top: -26%;
  }
}
