/* Colours
================================================== */
$blk: #000;
$wht: #fff;
$brwn: #8f6b38;
$brwn-rich: #630;
$stitch: #a5a79a;
$stitch-lht: #c2c4bb;
$gry: #8c8c8c;
$gry-lht: #efefef;
$gry-drk: #404040;
