/* Buttons
   ========================================================================== */
/* -------------$color-stitchched Button --------------- */
.stitched {
  background: rgba(143, 107, 56, 1);
  border: 2px dashed rgba(165, 167, 154, 1);
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgba(143, 107, 56, 1); //2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  font: normal 30px "Special Elite", cursive;
  //line-height: 1.3em;
  margin: 20px 10px;
  padding: 10px;
  position: relative;
  text-shadow: rgba(140, 140, 140, .6) 1px 1px 0, rgba(0, 0, 0, .67) -1px -1px 1px;
  width: 310px;
}
.stitched:hover {
  cursor: pointer;
}
